*{
margin: 0px;
padding: 0px;
}

#header{
    box-sizing: border-box;
    width: 970px;
    padding: 10px;
    background-color: #fff;
}
h1,h2{
    display: inline;
}
h1{
    margin-left: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}